.form {
  display: grid;
  grid-template-columns: 1fr max-content;
  width: 90%;
  margin-bottom: 20px;
}
.form input {
  width: 100%;
  padding: 10px 20px;
  color: white;
  background-color: transparent;
  border: 1px solid #834bf6;
  outline: none;
}
.formBtn {
  height: 100%;
  padding: 10px;
  color: white;
  background-color: #834bf6;
}
